header {
    background-color: #615f5b;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section:nth-of-type(2) {
    background-color: #f5f5f5;
    padding: 50px;
}

section {
    padding: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

footer nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer nav ul li {
    margin-right: 20px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

footer div a {
    margin-right: 10px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form textarea {
    resize: vertical;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #555;
}

form button:active {
    background-color: #222;
}
